# 3.0 Pandas

### Good reference:

[Pandas Documentation](http://pandas.pydata.org/pandas-docs/stable/index.html)

In [ ]:
import pandas as pd

import numpy as np

In [ ]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

### Data Frame

In [ ]:
dates = pd.date_range('20180501', periods=6)
dates

DatetimeIndex(['2018-05-01', '2018-05-02', '2018-05-03', '2018-05-04',
               '2018-05-05', '2018-05-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2018-05-01 -0.136816  1.053772 -1.080220 -0.891702
2018-05-02  0.307539 -0.604560  0.083288 -1.344013
2018-05-03 -0.258059  0.253438 -1.051720  1.580398
2018-05-04 -0.270000 -0.374987  0.093251  0.874281
2018-05-05 -1.296546  0.520760 -0.057945 -1.521722
2018-05-06 -2.205019  0.412739  1.514113 -0.306165

In [ ]:
df2 = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

### try:

type df2. and then press tab

In [ ]:
df2.isnull()

       A      B      C      D      E      F
0  False  False  False  False  False  False
1  False  False  False  False  False  False
2  False  False  False  False  False  False
3  False  False  False  False  False  False

### Viewing Data

In [ ]:
df.head()

                   A         B         C         D
2018-05-01 -0.136816  1.053772 -1.080220 -0.891702
2018-05-02  0.307539 -0.604560  0.083288 -1.344013
2018-05-03 -0.258059  0.253438 -1.051720  1.580398
2018-05-04 -0.270000 -0.374987  0.093251  0.874281
2018-05-05 -1.296546  0.520760 -0.057945 -1.521722

In [ ]:
df.tail(2)

                   A         B         C         D
2018-05-05 -1.296546  0.520760 -0.057945 -1.521722
2018-05-06 -2.205019  0.412739  1.514113 -0.306165

In [ ]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

### data aggregation

In [ ]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.643150  0.210194 -0.083206 -0.268154
std    0.928879  0.609464  0.953203  1.252315
min   -2.205019 -0.604560 -1.080220 -1.521722
25%   -1.039910 -0.217881 -0.803277 -1.230935
50%   -0.264029  0.333088  0.012671 -0.598933
75%   -0.167127  0.493755  0.090760  0.579170
max    0.307539  1.053772  1.514113  1.580398

### Transpose your data

In [ ]:
df.T

   2018-05-01  2018-05-02  2018-05-03  2018-05-04  2018-05-05  2018-05-06
A   -0.136816    0.307539   -0.258059   -0.270000   -1.296546   -2.205019
B    1.053772   -0.604560    0.253438   -0.374987    0.520760    0.412739
C   -1.080220    0.083288   -1.051720    0.093251   -0.057945    1.514113
D   -0.891702   -1.344013    1.580398    0.874281   -1.521722   -0.306165

In [ ]:
df['C']

2018-05-01   -1.080220
2018-05-02    0.083288
2018-05-03   -1.051720
2018-05-04    0.093251
2018-05-05   -0.057945
2018-05-06    1.514113
Freq: D, Name: C, dtype: float64

In [ ]:
df.C

2018-05-01   -1.080220
2018-05-02    0.083288
2018-05-03   -1.051720
2018-05-04    0.093251
2018-05-05   -0.057945
2018-05-06    1.514113
Freq: D, Name: C, dtype: float64

### Sorting by an axis

In [ ]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2018-05-01 -0.891702 -1.080220  1.053772 -0.136816
2018-05-02 -1.344013  0.083288 -0.604560  0.307539
2018-05-03  1.580398 -1.051720  0.253438 -0.258059
2018-05-04  0.874281  0.093251 -0.374987 -0.270000
2018-05-05 -1.521722 -0.057945  0.520760 -1.296546
2018-05-06 -0.306165  1.514113  0.412739 -2.205019

In [ ]:
df.A

2018-05-01   -0.297592
2018-05-02    0.679651
2018-05-03    0.120620
2018-05-04    0.024105
2018-05-05    1.177121
2018-05-06    1.267949
Freq: D, Name: A, dtype: float64

### indexing and selecting data

In [ ]:
dates = pd.date_range('1/5/2018', periods=8)
df3 = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=['A', 'B', 'C', 'D'])
df3

                   A         B         C         D
2018-01-05  0.673784 -1.616151 -2.322215  2.074448
2018-01-06 -0.165796  0.191224  0.564203  0.020807
2018-01-07  0.844106 -1.165694 -1.686254  0.557544
2018-01-08  2.006593 -0.024718 -0.597259 -1.091806
2018-01-09  0.835321 -1.295494  2.803460  0.861297
2018-01-10  0.215183  1.182191  0.783584 -0.005181
2018-01-11  0.308067  1.527258  0.670681 -0.740030
2018-01-12 -2.475962  0.353368 -0.719783 -1.835220

In [ ]:
s = df3['A']
s

2018-01-05    0.673784
2018-01-06   -0.165796
2018-01-07    0.844106
2018-01-08    2.006593
2018-01-09    0.835321
2018-01-10    0.215183
2018-01-11    0.308067
2018-01-12   -2.475962
Freq: D, Name: A, dtype: float64

In [ ]:
s[dates[5]]

0.21518288941068023

In [ ]:
df3.iloc[5]

A    0.215183
B    1.182191
C    0.783584
D   -0.005181
Name: 2018-01-10 00:00:00, dtype: float64

In [ ]:
df3[:4]

                   A         B         C         D
2018-01-05  0.673784 -1.616151 -2.322215  2.074448
2018-01-06 -0.165796  0.191224  0.564203  0.020807
2018-01-07  0.844106 -1.165694 -1.686254  0.557544
2018-01-08  2.006593 -0.024718 -0.597259 -1.091806

In [ ]:
print(df3[2:4])
print(df3.iloc[2:4])

print(df3.loc[:,['B', 'A']])

                   A         B         C         D
2018-01-07  0.844106 -1.165694 -1.686254  0.557544
2018-01-08  2.006593 -0.024718 -0.597259 -1.091806
                   A         B         C         D
2018-01-07  0.844106 -1.165694 -1.686254  0.557544
2018-01-08  2.006593 -0.024718 -0.597259 -1.091806
                   B         A
2018-01-05 -1.616151  0.673784
2018-01-06  0.191224 -0.165796
2018-01-07 -1.165694  0.844106
2018-01-08 -0.024718  2.006593
2018-01-09 -1.295494  0.835321
2018-01-10  1.182191  0.215183
2018-01-11  1.527258  0.308067
2018-01-12  0.353368 -2.475962

In [ ]:
print(df3.loc[2:4])

TypeError: ignored

In [ ]:
df4 = pd.DataFrame(np.random.randn(6,4),
                   index=list('abcdef'),
                   columns=list('ABCD'))

df4

          A         B         C         D
a  1.384554 -1.700303 -0.177873  0.519589
b -0.825611 -0.607009  0.273914 -0.222121
c  0.146164  1.124391 -0.430483 -0.809883
d  0.169120 -0.089150 -0.755717  0.130251
e -0.328498 -0.876435 -0.582606 -0.665868
f  0.686719  0.361960 -1.608398  1.081696

In [ ]:
df4.loc[['a', 'b', 'd'], :]

          A         B         C         D
a  1.384554 -1.700303 -0.177873  0.519589
b -0.825611 -0.607009  0.273914 -0.222121
d  0.169120 -0.089150 -0.755717  0.130251

In [ ]:
df4.loc['d':, 'A':'C']

          A         B         C
d -0.915246 -0.113527 -0.460655
e -0.880813  1.053852 -0.315671
f  0.240363  0.368581 -0.980476

### Note:

loc: selection by label

iloc: selection by position

### Boolean indexing

In [ ]:
df4_with_NA = df4[df4 > 0]
df4_with_NA

          A         B         C         D
a  1.384554       NaN       NaN  0.519589
b       NaN       NaN  0.273914       NaN
c  0.146164  1.124391       NaN       NaN
d  0.169120       NaN       NaN  0.130251
e       NaN       NaN       NaN       NaN
f  0.686719  0.361960       NaN  1.081696

# Missing Data

In [ ]:
df4_with_NA.dropna(how='any') # note, it will drop row(s) with NA elements

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [ ]:
pd.isnull(df4_with_NA)

       A      B      C      D
a  False   True   True  False
b   True   True  False   True
c  False  False   True   True
d  False   True   True  False
e   True   True   True   True
f  False  False   True  False

In [ ]:
df4_with_NA.mean()

A    0.596639
B    0.743176
C    0.273914
D    0.577179
dtype: float64

### Adding a column

In [ ]:
df4

          A         B         C         D
a  1.384554 -1.700303 -0.177873  0.519589
b -0.825611 -0.607009  0.273914 -0.222121
c  0.146164  1.124391 -0.430483 -0.809883
d  0.169120 -0.089150 -0.755717  0.130251
e -0.328498 -0.876435 -0.582606 -0.665868
f  0.686719  0.361960 -1.608398  1.081696

In [ ]:
df4['E']=np.arange(6)

df4

          A         B         C         D  E
a  1.384554 -1.700303 -0.177873  0.519589  0
b -0.825611 -0.607009  0.273914 -0.222121  1
c  0.146164  1.124391 -0.430483 -0.809883  2
d  0.169120 -0.089150 -0.755717  0.130251  3
e -0.328498 -0.876435 -0.582606 -0.665868  4
f  0.686719  0.361960 -1.608398  1.081696  5

### Grouping

In [ ]:
df5 = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                           'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'two', 'three',
                           'two', 'two', 'one', 'three'],
                    'C' : np.random.randn(8),
                    'D' : np.random.randn(8)})

df5

     A      B         C         D
0  foo    one -0.439038  1.327321
1  bar    one  0.201564  0.287102
2  foo    two  0.711541 -0.768890
3  bar  three  0.821469 -1.783241
4  foo    two -1.406352 -0.047913
5  bar    two  1.352381 -1.032540
6  foo    one -0.507690 -0.358783
7  foo  three  0.625316 -0.131849

In [ ]:
df5.groupby('A').mean()

            C         D
A
bar  0.791805 -0.842893
foo -0.203245  0.003977

In [ ]:
df5.groupby(['A','B']).mean()

                  C         D
A   B
bar one    0.201564  0.287102
    three  0.821469 -1.783241
    two    1.352381 -1.032540
foo one   -0.473364  0.484269
    three  0.625316 -0.131849
    two   -0.347406 -0.408401

### writing to a csv file

In [ ]:
df5.to_csv('my_csv.csv')

### reading from a csv file

In [ ]:
pd.read_csv('my_csv.csv')

   Unnamed: 0    A      B         C         D
0           0  foo    one -0.439038  1.327321
1           1  bar    one  0.201564  0.287102
2           2  foo    two  0.711541 -0.768890
3           3  bar  three  0.821469 -1.783241
4           4  foo    two -1.406352 -0.047913
5           5  bar    two  1.352381 -1.032540
6           6  foo    one -0.507690 -0.358783
7           7  foo  three  0.625316 -0.131849

In [ ]:
dfwiki = pd.read_html('http://en.wikipedia.org/wiki/List_of_tallest_buildings_and_structures_in_the_world', header=0, parse_dates=False)
dfwiki

[Empty DataFrame
 Columns: [Unnamed: 0, This article includes a list of references, but its sources remain unclear because it has insufficient inline citations. Please help to improve this article by introducing more precise citations. (September 2017) (Learn how and when to remove this template message)]
 Index: [],   Map all coordinates using: OpenStreetMap
 0       Download coordinates as: KML · GPX, Empty DataFrame
 Columns: [Unnamed: 0, This section needs additional citations for verification. Please help improve this article by adding citations to reliable sources. Unsourced material may be challenged and removed. (August 2007) (Learn how and when to remove this template message)]
 Index: [],                                       Category  ...                                        Coordinates
 0                           Building[4] (list)  ...  25°11′50.0″N 55°16′26.6″E﻿ / ﻿25.197222°N 55.2...
 1              Self-supporting tower[5] (list)  ...  35°42′36.5″N 139°48′39″E﻿ / ﻿35.710139°N 139.8...
 2                     Guyed steel lattice mast  ...    47°16′45″N 97°20′27″W﻿ / ﻿47.27917°N 97.34083°W
 3                                Mast radiator  ...  21°25′11.87″N 158°08′53.67″W﻿ / ﻿21.4199639°N ...
 4                                Twin building  ...  3°09′27.45″N 101°42′40.7″E﻿ / ﻿3.1576250°N 101...
 5                                      Chimney  ...  52°1′26.3″N 75°28′34.5″E﻿ / ﻿52.023972°N 75.47...
 6                                        Radar  ...  30°58′6.93″N 35°05′49.64″E﻿ / ﻿30.9685917°N 35...
 7                                Lattice tower  ...  50°28′16.49″N 30°27′11.97″E﻿ / ﻿50.4712472°N 3...
 8                            Electricity pylon  ...  29°56′2.78″N 122°2′10.12″E﻿ / ﻿29.9341056°N 12...
 9                        Partially guyed tower  ...  52°00′36.24″N 05°03′12.87″E﻿ / ﻿52.0100667°N 5...
 10                    Guyed tubular steel mast  ...  49°14′30.04″N 28°25′25.25″E﻿ / ﻿49.2416778°N 2...
 11                                      Bridge  ...  44°05′09.97″N 03°01′17.94″E﻿ / ﻿44.0861028°N 3...
 12  Blaw-Knox Tower (diamond cantilever tower)  ...    47°22′23″N 19°00′16″E﻿ / ﻿47.37306°N 19.00444°E
 13                                         Dam  ...  28°11′07″N 101°37′42″E﻿ / ﻿28.18528°N 101.62833°E
 14                                Wind turbine  ...    48°59′49″N 9°48′35″E﻿ / ﻿48.997075°N 9.809822°E
 15                         Statue (incl. base)  ...      21°50′17″N 73°43′09″E﻿ / ﻿21.8380°N 73.7191°E
 16                                     Minaret  ...  33°36′28.71″N 7°37′58.16″W﻿ / ﻿33.6079750°N 7....
 17                               Cooling tower  ...  24°32′04.97″N 76°05′57.89″E﻿ / ﻿24.5347139°N 7...
 18                                    Monument  ...  38°37′28.62″N 90°11′5.87″W﻿ / ﻿38.6246167°N 90...
 19                                 Water tower  ...  29°23′22.75″N 48°00′11.57″E﻿ / ﻿29.3896528°N 4...
 20                            Wooden structure  ...  35°01′48″N 106°33′27″W﻿ / ﻿35.029898°N 106.557...
 21                               Masonry tower  ...  46°06′36.53″N 112°54′48.8″W﻿ / ﻿46.1101472°N 1...
 22                          Inclined structure  ...  45°33′33.53″N 73°33′7.61″W﻿ / ﻿45.5593139°N 73...
 23                                     Obelisk  ...  29°44′59.46″N 95°04′50.52″W﻿ / ﻿29.7498500°N 9...
 24                                Ferris wheel  ...  36°07′03″N 115°10′05″W﻿ / ﻿36.117402°N 115.168...
 25                            Masonry building  ...  45°04′8.45″N 7°41′35.62″E﻿ / ﻿45.0690139°N 7.6...
 26                                    Flagpole  ...  21°30′28.23″N 39°10′11.04″E﻿ / ﻿21.5078417°N 3...
 27                                Church tower  ...  48°23′55″N 9°59′30.78″E﻿ / ﻿48.39861°N 9.99188...
 28                             Industrial hall  ...  28°35′9.64″N 80°39′2.11″W﻿ / ﻿28.5860111°N 80....
 29                              Memorial cross  ...  40°38′31.46″N 4°9′19.6″W﻿ / ﻿40.6420722°N 4.15...
 30                                   Telescope  ...    18°20′39″N 66°45′10″W﻿ / ﻿18.34417°N 66.75278°W
 31                              Roller coaster  ...  40°08′26.54″N 74°25′59.83″W﻿ / ﻿40.1407056°N 7...
 32                                        Tomb  ...  29°58′44.93″N 31°08′3.09″E﻿ / ﻿29.9791472°N 31...
 33                   Air traffic control tower  ...  2°44′26″N 101°40′45″E﻿ / ﻿2.740486°N 101.679069°E
 34                                       Stupa  ...                                                NaN
 35                        Wooden lattice tower  ...  50°18′48.12″N 18°41′20.26″E﻿ / ﻿50.3133667°N 1...
 36                                Storage silo  ...      48°25′57″N 9°58′58″E﻿ / ﻿48.43250°N 9.98278°E
 37                Aerial tramway support tower  ...  47°11′58.62″N 12°41′16.96″E﻿ / ﻿47.1996167°N 1...
 38                                      Sphere  ...  59°17′36.92″N 18°04′58.79″E﻿ / ﻿59.2935889°N 1...
 39                                  Lighthouse  ...                                                NaN
 40                                     Gopuram  ...  14°05′39″N 74°29′07″E﻿ / ﻿14.094197°N 74.485163°E

 [41 rows x 8 columns],                               Category  ...                                            Remarks
 0                           Guyed mast  ...     Completed in 1974, collapsed on August 8, 1991
 1            Scientific research tower  ...     Completed in 1962, demolished May 23, 2012[10]
 2             Guyed tubular steel mast  ...              Completed in 1973, dismantled in 1998
 3  Structure for scientific experiment  ...  Guyed mast, which carried 44 kt yield nuclear ...
 4                     Wooden structure  ...  Completed in 1934, destroyed on April 6, 1945,...
 5                     Masonry building  ...  Spire destroyed by a tornado in 1953 (rebuilt ...
 6          Pre-Industrial era building  ...         Completed in 1311, spire blown off in 1549
 7                            Gasometer  ...  Completed in 1938, damaged at an air raid on M...
 8                         Storage silo  ...            Constructed in 1961, demolished in 2013

 [9 rows x 8 columns],                     Category  ... Architectural top (feet)
 0                 Mixed-use*  ...                   2722.0
 1                     Office  ...                   1821.0
 2         Military structure  ...                   1545.0
 3                Residential  ...                   1550.0
 4                      Hotel  ...                   1972.0
 5  Scientific research tower  ...                   1066.0
 6                Educational  ...                    787.0
 7                  Religious  ...                    689.0
 8                   Hospital  ...                    511.8

 [9 rows x 6 columns],                                       Date (event)  ...                 Tip
 0                     2010: Burj Khalifa completed  ...        Burj Khalifa
 1        2009: CTBUH omits Height to Roof category  ...        Willis Tower
 2  2008: Shanghai World Financial Center completed  ...        Willis Tower
 3                       2003: Taipei 101 completed  ...        Willis Tower
 4             2000: Willis Tower antenna extension  ...        Willis Tower
 5                  1998: Petronas Towers completed  ...  World Trade Center
 6                   1996: CTBUH defines categories  ...  World Trade Center

 [7 rows x 5 columns],     Record from  ...                                              Notes
 0   c. 10000 BC  ...                  The earliest temple of humankind.
 1    c. 8000 BC  ...                                                NaN
 2    c. 4000 BC  ...                                                NaN
 3    c. 2650 BC  ...                                                NaN
 4    c. 2610 BC  ...  Shortly after completion Meidum Pyramid collap...
 5    c. 2605 BC  ...  Angle of slope decreased during construction t...
 6    c. 2600 BC  ...                                                NaN
 7    c. 2560 BC  ...  By 1647, the Great Pyramid had eroded to a hei...
 8          1311  ...  The central spire was destroyed in a storm in ...
 9          1549  ...                                                NaN
 10         1569  ...  Spire collapsed in 1573 (the cross was removed...
 11         1573  ...  The spire burnt down after a lightning strike ...
 12         1647  ...  By 1647, the Great Pyramid had eroded to a hei...
 13         1874  ...                                                NaN
 14         1876  ...                                                NaN
 15         1880  ...                                                NaN
 16         1884  ...  The world's tallest all-stone structure, as we...
 17         1889  ...  First structure to exceed 300 metres in height...
 18         1930  ...                                                NaN
 19         1931  ...  First building with 100+ storeys. The addition...
 20         1967  ...  Remains the tallest in Europe. Fire in 2000 le...
 21         1975  ...             The tallest in the Western Hemisphere.
 22         2007  ...  Holder of world's tallest freestanding structu...

 [23 rows x 8 columns],     Record from  ...                                              Notes
 0   Record from  ...                                              Notes
 1          1889  ...  Two lower observation decks at 57 and 115 m (1...
 2          1931  ...  On the 102nd floor – a second observation deck...
 3          1973  ...  Indoor observatory on the 107th floor of South...
 4          1974  ...        103rd floor Skydeck opened on June 22, 1974
 5          1975  ...  Outdoor observatory on the South Tower rooftop...
 6          1976  ...  Two further observation decks at 342 and 346 m...
 7          2008  ...  Two further observation decks at 423 and 439 m...
 8          2011  ...  The rooftop outdoor observation deck opened in...
 9          2014  ...  Opened on October 15, 2014 on the 148th floor....
 10         2016  ...                            Opened on July 1, 2016.

 [11 rows x 7 columns],     Record from  ...                                              Notes
 0   Record from  ...                                              Notes
 1          1913  ...  Mast was divided in 145 m by an insulator, dem...
 2          1920  ...                        2 masts, demolished in 1946
 3          1923  ...                         8 masts, destroyed in 1940
 4          1933  ...  Blaw-Knox Tower, insulated against ground, des...
 5          1939  ...     Insulated against ground, dismantled 1946/1947
 6          1946  ...  Blaw-Knox Tower, Insulated against ground, reb...
 7          1948  ...                                                NaN
 8          1949  ...                           Insulated against ground
 9          1950  ...               Insulated against ground, demolished
 10         1954  ...                                                NaN
 11         1956  ...                         Collapsed in 1960; rebuilt
 12         1959  ...                                                NaN
 13         1960  ...                                                NaN
 14         1962  ...                                                NaN
 15         1963  ...                                                NaN
 16         1963  ...  75 foot analog antenna was removed from the to...
 17         1974  ...  Mast radiator insulated against ground, collap...
 18         2018  ...                                                NaN

 [19 rows x 8 columns],       From       To  ...                      Town Pinnacle height
 0   280 BC  1180 AD  ...         Alexandria, Egypt           122 m
 1     1180     1240  ...            Malmesbury, UK         131.3 m
 2     1240     1311  ...                London, UK           150 m
 3     1311     1549  ...               Lincoln, UK         159.7 m
 4     1549     1647  ...        Stralsund, Germany           151 m
 5     1647     1874  ...        Strasbourg, France           142 m
 6     1874     1876  ...          Hamburg, Germany           147 m
 7     1876     1880  ...             Rouen, France           151 m
 8     1880     1889  ...          Cologne, Germany        157.38 m
 9     1889     1958  ...             Paris, France         312.3 m
 10    1958     1967  ...              Tokyo, Japan         332.6 m
 11    1967     1975  ...            Moscow, Russia         540.1 m
 12    1975     2010  ...  Toronto, Ontario, Canada        553.33 m
 13    2010     2011  ...          Guangzhou, China           600 m
 14    2011  present  ...              Tokyo, Japan           634 m

 [15 rows x 5 columns],                                                  Rank  ...                                             Floors
 0   Structures (supported) Main article: List of t...  ...  Structures (supported) Main article: List of t...
 1                                                   1  ...                                                  –
 2                                                   2  ...                                                  –
 3                                                   3  ...                                                  –
 4                        Structures (media supported)  ...                       Structures (media supported)
 5                                                   1  ...                                                  –
 6                                                   2  ...                                                  –
 7                                                   3  ...                                                  –
 8   Freestanding structures Main article: List of ...  ...  Freestanding structures Main article: List of ...
 9                                                   1  ...                                                163
 10                                                  2  ...                                                  –
 11                                                  3  ...                                                128
 12                                                  4  ...                                                120
 13                                                  5  ...                                                  –
 14                                                  6  ...                                                115
 15                                                  7  ...                                                128
 16                                                  8  ...                                                123
 17                                                  9  ...                                                  –
 18                                                 10  ...                                                104
 19                                                 11  ...                                                  –
 20                                                 12  ...                                                111
 21                                                 12  ...                                                 98
 22                                                 14  ...                                                108
 23                                                 15  ...                                                108
 24  Buildings Main article: List of tallest buildi...  ...  Buildings Main article: List of tallest buildi...
 25                                                  1  ...                                                163
 26                                                  2  ...                                                128
 27                                                  3  ...                                                120
 28                                                  4  ...                                                115
 29                                                  5  ...                                                128
 30                                                  6  ...                                                123
 31                                                  7  ...                                                104
 32                                                  8  ...                                                111
 33                                                  9  ...                                                 98
 34                                                 10  ...                                                108
 35                                                 11  ...                                                101
 36                                                 12  ...                                                101
 37                                                 13  ...                                                118
 38                                                 14  ...                                                 86
 39                                                 15  ...                                                 81

 [40 rows x 6 columns],    vteTallest buildings and structures              vteTallest buildings and structures.1
 0            History Skyscraper Storey                          History Skyscraper Storey
 1                            Buildings  By region Africa Asia Indian subcontinent Sout...
 2                            By region  Africa Asia Indian subcontinent Southeast Euro...
 3                           By country  Afghanistan Albania Algeria Argentina Australi...
 4                             By other     British Empire and Commonwealth European Union
 5                                Lists  100+ floors Architects Buildings by height to ...
 6              Structures(of any type)  By region Africa Europe former Soviet Union fo...
 7                            By region  Africa Europe former Soviet Union former Yugos...
 8                           By country  Albania Algeria Australia Austria Bahrain Belg...
 9                             By other                            Commonwealth of Nations
 10                               Lists  300 to 400 metres 400 to 500 metres Before the...
 11                       Relatedtopics  Additionally guyed tower Air traffic obstacle ...,     By region Africa Asia Indian subcontinent Southeast Europe Balkans Baltic states Scandinavia Oceania The Americas North America South America Central America Latin America
 0  By country  Afghanistan Albania Algeria Argentina Australi...
 1    By other     British Empire and Commonwealth European Union
 2       Lists  100+ floors Architects Buildings by height to ...                                                                                                               ,     By region Africa Europe former Soviet Union former Yugoslavia Asia West Asia The Americas South America
 0  By country  Albania Algeria Australia Austria Bahrain Belg...
 1    By other                            Commonwealth of Nations
 2       Lists  300 to 400 metres 400 to 500 metres Before the...                                           ,   vteStructural extremes                           vteStructural extremes.1
 0                Tallest  Buildings Structures Bridges Chimneys Churches...
 1                Largest  Buildings Churches City squares Dams Domes Hin...
 2                Longest  Buildings Bridges arched cable-stayed cantilev...]

In [ ]:
tallest = dfwiki[3]
tallest.head()

                          Category  ...                                        Coordinates
0               Building[4] (list)  ...  25°11′50.0″N 55°16′26.6″E﻿ / ﻿25.197222°N 55.2...
1  Self-supporting tower[5] (list)  ...  35°42′36.5″N 139°48′39″E﻿ / ﻿35.710139°N 139.8...
2         Guyed steel lattice mast  ...    47°16′45″N 97°20′27″W﻿ / ﻿47.27917°N 97.34083°W
3                    Mast radiator  ...  21°25′11.87″N 158°08′53.67″W﻿ / ﻿21.4199639°N ...
4                    Twin building  ...  3°09′27.45″N 101°42′40.7″E﻿ / ﻿3.1576250°N 101...

[5 rows x 8 columns]

# Exercise

In [ ]:
ufo = pd.read_csv('ufo.csv')

ufo

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
5,Valley City,NaN,DISK,ND,9/15/1934 15:30
6,Crater Lake,NaN,CIRCLE,CA,6/15/1935 0:00
7,Alma,NaN,DISK,MI,7/15/1936 0:00
8,Eklutna,NaN,CIGAR,AK,10/15/1936 17:00
9,Hubbard,NaN,CYLINDER,OR,6/15/1937 0:00
10,Fontana,NaN,LIGHT,CA,8/15/1937 21:00
11,Waterloo,NaN,FIREBALL,AL,6/1/1939 20:00
12,Belton,RED,SPHERE,SC,6/30/1939 20:00
13,Keokuk,NaN,OVAL,IA,7/7/1939 2:00
14,Ludington,NaN,DISK,MI,6/1/1941 13:00
15,Forest Home,NaN,CIRCLE,CA,7/2/1941 11:30
16,Los Angeles,NaN,NaN,CA,2/25/1942 0:00
17,Hapeville,NaN,NaN,GA,6/1/1942 22:30
18,Oneida,NaN,RECTANGLE,TN,7/15/1942 1:00
19,Bering Sea,RED,OTHER,AK,4/30/1943 23:00
20,Nebraska,NaN,DISK,NE,6/1/1943 15:00
21,NaN,NaN,NaN,LA,8/15/1943 0:00
22,NaN,NaN,LIGHT,LA,8/15/1943 0:00
23,Owensboro,NaN,RECTANGLE,KY,10/15/1943 11:00
24,Wilderness,NaN,DISK,WV,1/1/1944 10:00
25,San Diego,NaN,CIGAR,CA,1/1/1944 12:00
26,Wilderness,NaN,DISK,WV,1/1/1944 12:00
27,Clovis,NaN,DISK,NM,4/2/1944 11:00
28,Los Alamos,NaN,DISK,NM,6/1/1944 12:00
29,Ft. Duschene,NaN,DISK,UT,6/30/1944 10:00
...,...,...,...,...,...
18211,Holyoke,NaN,DIAMOND,MA,12/28/2000 18:00
18212,Carson,NaN,DISK,CA,12/28/2000 18:20
18213,Pasadena,GREEN,FIREBALL,CA,12/28/2000 19:10
18214,Austin,NaN,FORMATION,TX,12/29/2000 0:00
18215,El Campo,NaN,OTHER,TX,12/29/2000 9:00
18216,Garden Grove,ORANGE,LIGHT,CA,12/29/2000 16:10
18217,Berthoud Pass,NaN,TRIANGLE,CO,12/29/2000 19:30
18218,Sisterdale,NaN,DIAMOND,TX,12/29/2000 20:00
18219,Garden Grove,NaN,CHEVRON,CA,12/29/2000 20:30
18220,Shasta Lake,BLUE,DISK,CA,12/29/2000 20:30
18221,Franklin,NaN,DISK,NH,12/29/2000 20:50
18222,Albrightsville,NaN,OTHER,PA,12/29/2000 21:00
18223,Greenville,NaN,NaN,SC,12/29/2000 22:00
18224,Eufaula,NaN,DISK,OK,12/29/2000 23:30
18225,Simi Valley,NaN,FORMATION,CA,12/30/2000 10:00
18226,San Francisco,NaN,FORMATION,CA,12/30/2000 22:00
18227,San Francisco,NaN,TRIANGLE,CA,12/30/2000 22:00
18228,Kingsville,NaN,LIGHT,TX,12/31/2000 4:00
18229,Chicago,NaN,DISK,IL,12/31/2000 11:45
18230,Pismo Beach,NaN,OVAL,CA,12/31/2000 20:00
18231,Pismo Beach,NaN,OVAL,CA,12/31/2000 20:00
18232,Lodi,NaN,NaN,WI,12/31/2000 20:30
18233,Anchorage,RED,VARIOUS,AK,12/31/2000 21:00
18234,Capitola,NaN,TRIANGLE,CA,12/31/2000 22:00
18235,Fountain Hills,NaN,NaN,AZ,12/31/2000 23:00
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

### Q1:

show the top 5 rows of data

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

### Q2:
show the last 10 rows of data

                 City Colors Reported Shape Reported State              Time
18231     Pismo Beach             NaN           OVAL    CA  12/31/2000 20:00
18232            Lodi             NaN            NaN    WI  12/31/2000 20:30
18233       Anchorage             RED        VARIOUS    AK  12/31/2000 21:00
18234        Capitola             NaN       TRIANGLE    CA  12/31/2000 22:00
18235  Fountain Hills             NaN            NaN    AZ  12/31/2000 23:00
18236      Grant Park             NaN       TRIANGLE    IL  12/31/2000 23:00
18237     Spirit Lake             NaN           DISK    IA  12/31/2000 23:00
18238     Eagle River             NaN            NaN    WI  12/31/2000 23:45
18239     Eagle River             RED          LIGHT    WI  12/31/2000 23:45
18240            Ybor             NaN           OVAL    FL  12/31/2000 23:59

### Q3:

check the data type

pandas.core.frame.DataFrame

### Q4:

#show all rows for the column 'City' , and the unique cities

0                      Ithaca
1                 Willingboro
2                     Holyoke
3                     Abilene
4        New York Worlds Fair
5                 Valley City
6                 Crater Lake
7                        Alma
8                     Eklutna
9                     Hubbard
10                    Fontana
11                   Waterloo
12                     Belton
13                     Keokuk
14                  Ludington
15                Forest Home
16                Los Angeles
17                  Hapeville
18                     Oneida
19                 Bering Sea
20                   Nebraska
21                        NaN
22                        NaN
23                  Owensboro
24                 Wilderness
25                  San Diego
26                 Wilderness
27                     Clovis
28                 Los Alamos
29               Ft. Duschene
                 ...
18211                 Holyoke
18212                  Carson
18213                Pasadena
18214                  Austin
18215                El Campo
18216            Garden Grove
18217           Berthoud Pass
18218              Sisterdale
18219            Garden Grove
18220             Shasta Lake
18221                Franklin
18222          Albrightsville
18223              Greenville
18224                 Eufaula
18225             Simi Valley
18226           San Francisco
18227           San Francisco
18228              Kingsville
18229                 Chicago
18230             Pismo Beach
18231             Pismo Beach
18232                    Lodi
18233               Anchorage
18234                Capitola
18235          Fountain Hills
18236              Grant Park
18237             Spirit Lake
18238             Eagle River
18239             Eagle River
18240                    Ybor
Name: City, Length: 18241, dtype: object

array(['Ithaca', 'Willingboro', 'Holyoke', ..., 'Capitola', 'Grant Park',
       'Ybor'], dtype=object)

### Q5:
determine the shape (dimension) of the data

(18241, 5)

### Q6:
show all data for 'City' that starts with 'E'

                   City Colors Reported Shape Reported State              Time
8               Eklutna             NaN          CIGAR    AK  10/15/1936 17:00
55             Espanola             NaN         CIRCLE    NM    6/1/1947 17:00
109           Excelsior             NaN         CIRCLE    MN    8/15/1949 0:00
140      East Palestine             NaN          LIGHT    OH   7/10/1950 20:30
179           Evergreen             NaN           DISK    CO    6/6/1952 13:00
200           Evergreen             NaN         CIRCLE    CO    7/7/1952 10:00
270          El Cerrito             NaN          LIGHT    CA    6/1/1954 19:00
276          Estes Park             NaN          CIGAR    CO   6/10/1954 20:00
280       Ellington AFB             NaN           DISK    TX   6/15/1954 16:30
340          Eagle Pass             NaN          CIGAR    TX    8/15/1955 0:01
355              Elmore             NaN         SPHERE    AL     6/5/1956 0:00
359               Edroy             NaN            NaN    TX    6/15/1956 1:00
377        East Hampton             NaN           DISK    CT    7/15/1956 0:00
387                Edna             NaN         CIRCLE    TX  10/10/1956 21:00
400             El Paso             NaN           DISK    TX    6/1/1957 10:00
401      E. Los Angeles             NaN          LIGHT    CA    6/1/1957 12:00
444              Exeter             NaN           DISK    NH   8/15/1957 21:00
452             El Paso             NaN           DISK    TX    9/15/1957 4:00
461             England             NaN           DISK    AR   10/15/1957 1:45
529         El Sobrante          YELLOW         CIRCLE    CA     5/5/1959 9:00
530            Evanston             NaN            NaN    IL    5/15/1959 4:00
609      East Bernstadt             NaN           DISK    KY   6/21/1960 14:00
683            Evendale             NaN            NaN    OH    8/30/1961 0:00
712        Ellwood City             NaN           DISK    PA    6/1/1962 12:00
738        East Windsor          ORANGE         CIRCLE    CT   7/15/1962 21:00
785             Emporia             NaN      RECTANGLE    KS   5/30/1963 17:30
823     East Vassalboro          ORANGE       TRIANGLE    ME    7/3/1963 21:00
824            Evanston             NaN           DISK    IL   7/10/1963 20:00
852    Engelwood Cliffs             NaN            NaN    NJ    11/1/1963 0:00
854          El Cerrito             NaN       FIREBALL    CA   1/10/1964 20:00
...                 ...             ...            ...   ...               ...
17652           Elverta        RED BLUE          LIGHT    CA  10/11/2000 22:00
17678          Elk City             NaN       FIREBALL    OK  10/13/2000 19:53
17679            Eugene             NaN          LIGHT    OR  10/13/2000 20:00
17684         Escondido             NaN            NaN    CA   10/14/2000 2:30
17716            Eureka          ORANGE          LIGHT    CA  10/17/2000 20:30
17732            Easley             NaN           DISK    SC  10/20/2000 20:00
17754            Elmira             NaN       CYLINDER    WA   10/23/2000 2:30
17807          Edgewood           GREEN       FIREBALL    WA  10/29/2000 17:20
17838            Elyria             NaN            NaN    OH  10/31/2000 19:00
17900            Eugene             NaN          LIGHT    OR   11/8/2000 22:30
17933         Ellinwood             NaN       FIREBALL    KS  11/13/2000 22:00
17936        Ellensburg             NaN            NaN    WA  11/14/2000 20:15
17938        Ellensburg             NaN        CHEVRON    WA  11/14/2000 21:00
17943      East Lansing             NaN        DIAMOND    MI  11/15/2000 14:00
17955         Eagletown             NaN         SPHERE    OK  11/16/2000 20:00
17957           Everett             NaN          OTHER    WA  11/16/2000 23:03
17976    East Brunswick             NaN       TEARDROP    NJ  11/19/2000 16:35
18008           El Paso             NaN          CIGAR    NM  11/23/2000 18:37
18023         Elizabeth             NaN         SPHERE    NJ   11/25/2000 1:25
18028        Ellisville             NaN       TRIANGLE    MS  11/25/2000 20:45
18037            Eugene             NaN         CIRCLE    OR   11/28/2000 2:14
18042             Edina          ORANGE         CIRCLE    MN  11/28/2000 21:30
18142        Estes Park             NaN        CHEVRON    CO  12/17/2000 18:15
18151        Enterprise             NaN           OVAL    AL  12/18/2000 18:45
18161    Elizabeth City             NaN        CHEVRON    NC  12/20/2000 17:00
18182        Evansville             NaN       FIREBALL    IN  12/24/2000 20:00
18215          El Campo             NaN          OTHER    TX   12/29/2000 9:00
18224           Eufaula             NaN           DISK    OK  12/29/2000 23:30
18238       Eagle River             NaN            NaN    WI  12/31/2000 23:45
18239       Eagle River             RED          LIGHT    WI  12/31/2000 23:45

[557 rows x 5 columns]

### Q7:

count the number of reported cases for 'LIGHT'

2803

### Q8

count the number of shape reported, group by state and city

State  City
AK     Adak                                                             1
       Alaska                                                           2
       Anchorage                                                       12
       Arctic                                                           1
       Auke Bay                                                         2
       Bering Sea                                                       1
       Bethel                                                           1
       Big Lake                                                         1
       Cantwell                                                         1
       Chugiak                                                          1
       Cold Bay                                                         1
       Copper Center                                                    1
       Cordova                                                          1
       Delta Junction                                                   1
       Douglas Island                                                   1
       Eagle River                                                      2
       Eklutna                                                          1
       Elmendorf AFB                                                    1
       Fairbanks                                                        9
       Fairbanks, Trans Alaskan Pipeline haul road 250 mi N of          0
       Ft. Richardson                                                   0
       Ft. Yukon                                                        2
       Girdwood                                                         1
       Glennallen                                                       1
       Gula                                                             1
       Gustavus                                                         0
       Homer                                                            1
       Juneau                                                           6
       Kenai                                                            4
       Ketchikan                                                        3
                                                                       ..
WY     Francis E Warren AFB                                             0
       Gilette                                                          1
       Gillette                                                         2
       Glendo                                                           0
       Green River                                                      3
       Guernsey                                                         1
       Interstate 80                                                    1
       Jackson Hole                                                     1
       Lander                                                           1
       Laramie                                                          6
       Mammoth Hot Springs                                              1
       Medicine Bow National Mountains, Medicine Bow National Fores     1
       Medicine Bow Natl. Forest                                        1
       Mile 69                                                          0
       Old Faithful                                                     0
       On highway; location unknown                                     1
       Pine Haven                                                       1
       Pinedale                                                         1
       Powell                                                           1
       Rawlins                                                          2
       Riverton                                                         2
       Rock River                                                       1
       Rock Spings, 2miles west of                                      0
       Rock Springs                                                     2
       Sheridan                                                         1
       Ten Sleep                                                        1
       Wheeling                                                         0
       Wyoming                                                          2
       Yellowstone National Park                                        1
       Yellowstone Park                                                 1
Name: Shape Reported, Length: 8029, dtype: int64